<div class="container">

  <span
    title="Search Week Tweak"
    style="font-size: 1em;"
    class="icon-container clickable"
    (click)="searchBoxOpen = !searchBoxOpen">

    <svg class="icon"><use xlink:href="assets/svg/icons.svg#icon-search"></use></svg>

  </span>

  <div class="search" [class.open]="searchBoxOpen">

    <span
      title="Close Search"
      class="clickable icon-search-close"
      (click)="searchBoxOpen = !searchBoxOpen">

      <svg class="icon"><use xlink:href="assets/svg/icons.svg#icon-cross"></use></svg>

    </span>

    <form class="search-form" action="">

      <input class="search-input"
        name="search"
        type="search"
        placeholder="Find..."
        autocomplete="off"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="false"
        #search
        (keyup.escape)="searchBoxOpen = !searchBoxOpen"
        (blur)="search.value = ''"
      />

      <span class="search-info">Hit enter to search or ESC to close</span>

    </form>

    <div class="search-related">
      <div class="search-suggestion">
        <div class="title text-green">May We Suggest?</div>
        <p class="text-red">#drone #funny #catgif #broken #lost #hilarious #good #red #blue #nono #why #yes #yesyes #aliens #green</p>
      </div>
    </div>

  </div><!-- /search -->

  <div class="overlay"></div>

</div><!-- /container -->