<div class="not-found-container">
  <div class="not-found">
    
    <div class="not-found-img"></div>
    <div class="divider"></div>
    
    <h3>The page you are looking for doesn`t exist. </h3>
    <p>Whenever you get lost in life, just follow your nose.</p>
    
    <button class="btn btn-md btn-green" [routerLink]="['']" > Let`s get back to Home </button>

    <p class="el-sm">Hey its not my mistake, i typed the right address but your site has a problem. Hmm, Send Feedbback here.</p>
  </div>
</div>