.main-menu-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 4.52em;
	height: 100%;
	background-color: #FFFFFF;
	color: #4d5256;
	z-index: 100;
	display: flex;
	flex-direction: column;
	transition: width 0.2s ease-in;
	overflow-y: auto;
	overflow-x: hidden;
	box-shadow: 4px 0px 4px 0px hsla(0, 0%, 71%, 0.21)
}

.main-menu-container.menu-expanded {
	width: 16.19em;
	transition: width .3s linear;
}

.logo {
	min-height: 2.25em;
	margin: 0 auto;
	padding: 0.5em 0;
	font-size: 1.79em;
	color: #00a8e8;
	font-family: 'Roboto Mono', monospace;
	font-weight: bold;
	display: flex;
}

.logo span:first-child{
	color: rgba(0, 168, 232, 0.71);
}

.user-area {
	min-height: 5.7em;
	height: 5.7em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.main-menu-container.menu-expanded .user-area {
	min-height: 5.7em;
	height: 5.7em;
	flex-direction: row;
	justify-content: flex-start;
	padding-left: 1em;
}

.user-img {
	height: 3.19em;
	width: 3.19em;

	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 50%;
}

.main-menu-container.menu-expanded .user-area .user-img {
	width: 4.52em;
	height: 4.52em
}

.user-img img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.user-area .user-account-info {
	display: none;
	flex-direction: column;
}

.main-menu-container.menu-expanded .user-area .user-account-info {
	display: flex;
	margin-left: 1em;
	margin-top: .5em;
}

.user-area .user-account-info ul {
	display: flex;
	margin-top: 0.5em;
}

.user-area .user-account-info ul li {
	margin-right: 0.5em;
	border: 1px solid #B5B5B5;
	border-radius: 50%;
	cursor: pointer;
	width: 1.79em;
	height: 1.79em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.user-area .user-account-info ul li:hover {
	opacity: 0.8;
}

.user-area .user-account-info ul li svg.icon{
	width: 1em;
}

.sidebar-icon-list {
	display: flex column;
	list-style: none;
	width: 100%;
	padding: 0;
	margin: 0;
	flex-grow: 1;
}

.sidebar-icon {
	position: relative;
	width: 100%;
	height: 4.52em;
	padding: 0.71em 0;
	color: hsla(207,6%,32%,0.71);
	border-left: 0.25em solid transparent;
	border-right: 0.25em solid transparent;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all 0.3s linear;
	transition: color 0s linear;
}

.sidebar-icon:hover{
	color: #4D5256;
}

.sidebar-icon:hover svg, .sidebar-icon:hover svg.icon {
	fill: #4D5256;
}

/*.sidebar-icon svg:hover, .sidebar-icon svg.icon:hover {
	fill: #4D5256;
}
*/
.main-menu-container.menu-expanded .sidebar-icon-list .sidebar-icon {
	flex-direction: row;
	justify-content: flex-start;
	padding-left: 1em;
	transition: all 0.3s linear;
}

.sidebar-icon span {
	font-size: 0.8em;
}

.main-menu-container.menu-expanded .sidebar-icon-list .sidebar-icon span {
	font-size: 0.8em;
	opacity: 1;
	position: relative;
	transition: all 0.3s linear;
	transition: color 0s linear;
	margin-left: 1em;
}

svg.icon {
	fill: #b5b5b5;
	width: 1.42em;
	height: 1.42em;
}

.menu-active {
	border-left: 0.25em solid #2ca58d;
	color: #4d5256;
}

.sidebar-icon.menu-active svg.icon {
  fill: #2ca58d;
}

.sidebar-wt {
	display: flex;
  	min-height: 2em;
	justify-content: flex-end;
}

.main-menu-container .sidebar-wt label svg.icon-right-angle {
	transition: all 0.3s linear;
}

.main-menu-container.menu-expanded .sidebar-wt label svg.icon-right-angle {
	transform: rotateZ(180deg);
	transition: all 0.3s linear;
}

@media (min-width: 28.91em) {
	.menu-toggle-icon {
		display: none;
	}
}

@media (max-width: 28.91em) {
	.main-menu-container {
		width: 16.19em;
		position: fixed;
		left: -16.19em;
		z-index: 102;
		transform: translateX(0em);
		transition: transform .3s ease-out;
	}

	.main-menu-container.show-main-menu {
		transform: translateX(16.19em);
		transition: transform .3s ease-out;
	}

	.main-menu-container .user-area {
		min-height: 5.7em;
		height: 5.7em;
		flex-direction: row;
		justify-content: flex-start;
		padding-left: 1em;
	}

	.main-menu-container .user-area .user-img {
		width: 4.52em;
		height: 4.52em
	}

	.main-menu-container .user-area .user-account-info {
		display: flex;
		margin-left: 1em;
		margin-top: .5em;
	}

	.main-menu-container .sidebar-icon-list .sidebar-icon {
		flex-direction: row;
		justify-content: flex-start;
		padding-left: 1em;
	}

	.main-menu-container .sidebar-icon-list .sidebar-icon span {
		opacity: 1;
		position: relative;
		margin-left: 1em;
	}

	.main-menu-container .sidebar-wt {
		display: none;
	}

	.menu-toggle-icon{
		position: fixed;
    	top: 1em;
    	padding-left: 1em;
    	z-index: 102;
	}
}

