<div (clickOutside)="onClickOutsideMainMenu($event)"> <!-- to get expected wrapped in a extra div -->
    <label (click)="showMainMenu=!showMainMenu" class="menu-toggle-icon clickable">
        <svg class="icon icon-menu">
            <use xlink:href="assets/svg/symbol-defs.svg#icon-menu"></use>
        </svg>
        
    </label>
    <div class="main-menu-container" [class.menu-expanded]="menuExpanded" [class.show-main-menu]="showMainMenu" >
        
        <div class="logo">
            <span>w</span>
            <span>t</span>
        </div>       
        <div class="user-area">
            <div class="user-img">
                <img src="{{userPhoto}}"> 
            </div>
            <div class="user-account-info">
                <span>{{userName}}</span>
                <ul >               
                    <li routerLink="/account" class="clickable">
                        <svg class="icon icon-home">
                            <use xlink:href="assets/svg/symbol-defs.svg#icon-user"></use>
                        </svg>
                    </li>
                    <li routerLink="/account/profile" class="clickable">
                        <svg class="icon icon-home">
                            <use xlink:href="assets/svg/symbol-defs.svg#icon-cross"></use>
                        </svg>
                    </li>
                    <li routerLink="/account/settings" class="clickable">
                        <svg class="icon icon-home">
                            <use xlink:href="assets/svg/symbol-defs.svg#icon-week"></use>
                        </svg>
                    </li>
                </ul>  
            </div>
                
        </div>

        <ul class="sidebar-icon-list">
            <li class="sidebar-icon" routerLink="/" routerLinkActive="menu-active" [routerLinkActiveOptions] ="{exact: true}">
                <svg class="icon icon-home"><use xlink:href="assets/svg/symbol-defs.svg#icon-home"></use></svg>
                <span>Week</span>
            </li>
            <li class="sidebar-icon" routerLink="/projects" routerLinkActive="menu-active" title="Projects">
                <svg class="icon icon-projects2"><use xlink:href="assets/svg/symbol-defs.svg#icon-project2"></use></svg>
                <span>Projects</span>
            </li>
            <li class="sidebar-icon" routerLink="/project/:id" routerLinkActive="menu-active" title="Files">
                <svg class="icon icon-home"><use xlink:href="assets/svg/symbol-defs.svg#icon-week"></use></svg>
                <span>Files</span>
            </li>
            <li class="sidebar-icon" routerLink="/account" routerLinkActive="menu-active" title="Store">
                <svg class="icon icon-user"><use xlink:href="assets/svg/symbol-defs.svg#icon-user"></use></svg>
                <span>Store</span>
            </li>
            <li class="sidebar-icon" routerLink="steps" routerLinkActive="menu-active" title="Life">
                <svg class="icon icon-home"><use xlink:href="assets/svg/symbol-defs.svg#icon-compass"></use></svg>
                <span>Life</span>
            </li>
            <li class="sidebar-icon">
                <svg class="icon icon-stats-dots"><use xlink:href="assets/svg/symbol-defs.svg#icon-stats-dots"></use></svg>
                <span>Analysis</span>
            </li>
            <li class="sidebar-icon">
                <svg class="icon icon-home"><use xlink:href="assets/svg/symbol-defs.svg#icon-edit"></use></svg>
                <span>Projects</span>
            </li>
        </ul>

        <div class="sidebar-wt">
            <label class="clickable" (click)= "menuExpanded = !menuExpanded">
                <svg class="icon icon-right-angle"><use xlink:href="assets/svg/symbol-defs.svg#icon-right-angle"></use></svg>
            </label>
        </div>
    </div>
</div>