.main-menu-container {
	width: 5.07em;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	background-color: hsl(168,58%,30%);
	color: #fff;
	display: flex;
	flex-direction: column;
	z-index: 100;

	transition: width 0.2s ease-in;
	overflow-y: auto;
	overflow-x: hidden;
}

.logo-area {
	height: 4em;
    min-height: 4em;
	background-color: hsla(168,58%,41%,0.8);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.logo {
	height: 3em; /* same as content-topbar*/
	width: 3em;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url(assets/img/logo-white.png);
	background-size: cover;
}

.logo-area span {
	display: none;
}

input[name="ert"]:checked + .main-menu-container .logo-area span {
	display: block;
}


.top-icon {
	height: 4em;
    min-height: 4em;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.user-pic {
	width: 100%;
	height: 4em;
	border-bottom: 2px solid #2ca58d;
	background-image: url(assets/img/messi.jpg);
	background-size: cover;
}

.user-name {
	font-size: 0.9em;
	margin: 0;
}

.sidebar-icon-list {
	display: flex column;
	list-style: none;
	width: 100%;
	padding: 0;
	margin: 0;
	flex-grow: 1;
}


.sidebar-icon {
	color: #eaeaea;
	width: 100%;
	border-left: 3px solid hsl(168,58%,30%);
	height: 3em;
	margin: 1em 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: relative;
	transition: all 0.3s linear;
}

.menu-active svg.icon {
    fill: #eeff22;
	
}
svg.icon {
    fill: white;
	width: 1.65em;
}

.sidebar-icon span {
	font-size: 0.75em;
	opacity: 0;
	position: absolute;
	transition: all 0.1s linear;
}

.menu-active {
	border-left: 3px solid #EEFF22;
	color: #EEFF22;
}

.sidebar-icon:hover {
	color: #fff;
	border-left: 3px solid #EEFF22;
}

.sidebar-icon.menu-active svg.icon {
  fill: #eeff22;
}

.sidebar-wt {
	display: flex;
    min-height: 2em;
	height: 2em;
	justify-content: flex-end;
}

input[name="ert"]:checked + .main-menu-container {
	width: 12em;
	transition: width .3s linear;
}

input[name="ert"]:checked + .main-menu-container .logo-area {
	height: 6em;
}

input[name="ert"]:checked + .main-menu-container .sidebar-icon-list .sidebar-icon {
	flex-direction: row;
	justify-content: flex-start;
	padding-left: 1em;
	transition: all 0.3s linear;
}

input[name="ert"]:checked + .main-menu-container .sidebar-icon-list .sidebar-icon span {
	font-size: 0.75em;
	opacity: 1;
	position: relative;
	transition: all 0.3s linear;
	margin-left: 1em;
}

.main-menu-container .sidebar-wt label svg.icon-right-angle {
	transition: all 0.3s linear;
}

input[name="ert"]:checked + .main-menu-container .sidebar-wt label svg.icon-right-angle {
	transform: rotateZ(180deg);
	transition: all 0.3s linear;
}

@media (max-width: 27em) {
	.main-menu-container {
		width: 12em;
		position: fixed;
		left: -12em;
		transform: translateX(0em);
		transition: transform .3s ease-out;
	}

	input[name="menu-toggle"]:checked ~ .main-menu-container {
		transform: translateX(12em);
		transition: transform .3s ease-out;
	}

	.main-menu-container .sidebar-icon-list .sidebar-icon {
		flex-direction: row;
		justify-content: flex-start;
		padding-left: 1em;
	}

	.main-menu-container .sidebar-icon-list .sidebar-icon span {
		font-size: 0.75em;
		opacity: 1;
		position: relative;
		margin-left: 1em;
	}

	.main-menu-container .sidebar-wt {
		display: none;
	}
}