 <div class="main-topbar">
  <div class="page-title">{{pageTitle}}</div>

  <div class="icon-container topbar-icon-group-toggle" 
       (click)="isTopIconsVisible = true">
       <svg class="icon"><use xlink:href="assets/svg/icons.svg#icon-v-dots"></use></svg>
  </div>

  <div class="icon-group topbar-icon-group" 
       [class.visible]=isTopIconsVisible>

    <app-search-box></app-search-box>

    <div title="Add Project, Step or Task" class="clickable icon-container" [routerLink]="['/add-stuff']">      
      <svg class="icon"><use xlink:href="assets/svg/icons.svg#icon-plus-fat"></use></svg>
    </div>

    <div title="Your Notifications" class="dropdown-container" (clickOutside)="onClickOutsideNotification($event)">

      <span  title="Notifications"
        class="icon-container icon-container-dot"
        (click)="dropNotification = !dropNotification">
        <svg class="icon"><use xlink:href="assets/svg/icons.svg#icon-bell"></use></svg>
      </span>

      <div class="dropdown-content" [class.dropdown-active]="dropNotification">
        Notifications
      </div>

    </div>

    <div class="dropdown-container" (clickOutside)="onClickOutsideProjectSelector($event)">

      <span title="View all Projects"
            class="icon-container"
            (click)="dropProjectSelector = !dropProjectSelector">
        <svg class="icon"><use xlink:href="assets/svg/icons.svg#icon-window"></use></svg>
      </span>

      <div class="dropdown-content" [class.dropdown-active]="dropProjectSelector">

        <div class="title p-x p-y white2">Projects</div>
        <div style="min-width: 16.19em">
          <ul class="more-items">
            <li routerLink="/projects/base" class="clickable title p-x m-y">Base Projects</li>
            <li *ngFor="let project of baseProjects | async"
                routerLink="/project/{{project.$key}}"
                class="more-item" > {{project.title}}
            </li>
            <em class="p-x p-y" *ngIf="(baseProjects | async)?.length===0"> No projects </em>
          </ul>
          
          <ul class="more-items">
            <li routerLink="/projects/personal" class="clickable title p-x m-y">Personal Projects</li>
            <li *ngFor="let project of personalProjects | async"
                routerLink="/project/{{project.$key}}"
                class="more-item" > {{project.title}}</li>
          </ul>
          
          <ul class="more-items">
            <li routerLink="/projects/pro" class="clickable title p-x m-y">Pro Projects</li>
            <li *ngFor="let project of proProjects | async"
                routerLink="/project/{{project.$key}}"
                class="more-item" > {{project.title}}</li>
          </ul>
          
          <ul class="more-items">
            <li routerLink="/projects/social" class="clickable title p-x m-y">Social Projects</li>
            <li *ngFor="let project of socialProjects | async"
                routerLink="/project/{{project.$key}}"
                class="more-item" > {{project.title}}</li>
          </ul>
        </div>
        

      </div>

    </div>

    <div class="dropdown-container" (clickOutside)="onClickOutside($event)">

      <span title="User Actions like Profile, Settings, Logout"
        class="clickable icon-container"
        (click)="drop = !drop">
        <svg class="icon"><use xlink:href="assets/svg/icons.svg#icon-h-dots"></use></svg>
      </span>

      <div class="dropdown-content" [class.dropdown-active]="drop">
        <div class="p-x p-y-md grey3 title title-sm">Hi, {{userName}}</div>
        <ul class="more-items">
          <li class="more-item" routerLink="/profile">Profile</li>
          <li class="more-item" routerLink="/help">Help</li>
          <li class="more-item" routerLink="/focus">Focus Mode</li>
        </ul>
        <hr style=" height: 1px; background: #b5b5b5; opacity: 0.5;">
        <ul class="more-items">
          <li class="more-item" routerLink="/settings" title="Settings">Settings</li>
          <li class="more-item" routerLink="/lock" title="Settings">Lock App</li>
          <li class="more-item" (click)="logout()">Log Out</li>
        </ul>
      </div>
    </div>

    <div class="icon-container topbar-icons-close"
         (click)="isTopIconsVisible = false">
         <svg class="icon"><use xlink:href="assets/svg/icons.svg#icon-cross"></use></svg>
    </div>

  </div>
</div>


<div class="tabs" >
  <a *ngFor="let item of tabsData" class="tab" routerLink="{{item.link}}"
  routerLinkActive="active" [routerLinkActiveOptions] ="{exact: item.exact ? false : true}">{{item.title}}</a>
</div>