.main-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 0 1em;
  width: 100%;
  z-index: 101;
  position: fixed;
  height: 3.19em;
  top: 0;
}

.main-topbar .page-title {
  font-size: 1.12em;
  font-weight: bold;
  margin-left: 1.79em;
}

@media (min-width: 40.94em) {
  .main-topbar {
    position: static;
    height: 2.84em;
    padding: 0 1.79em;
  }
  .main-topbar .page-title {
    margin-left: 0;
  }}

/* TABS GROUP */

.tabs-group {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1.79em;
  letter-spacing: 1px;
  border-bottom: 2px solid hsla(0, 0%, 71%, 0.21);
  background-color: white;
}

.tab {
  margin-right: 1.12em;
  padding: 0.44em 0.5em;
  color: hsla(207, 6%, 32%, 0.8);
  border-bottom: 2px solid transparent;
  font-size: 0.8em;
  cursor: pointer;
  font-family: 'Roboto Mono', monospace;

}

.tab:last-child {
  margin-right: 0;
}

.tab:hover {
  color: #4d5256;
}

.tab-active,.tab-active:hover {
  color: #2ca58d;
  font-weight: bold;
  border-bottom: 2px solid #2ca58d;
  transition: border-bottom .31s linear;
}


.filter-bar {
  height: 5.07em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}