<div *ngIf="!(steps | async)" class="inline-loader"></div>
<add-step></add-step>
<div *ngIf="(steps | async)?.length>0" style="background: #fff;">

  <div class="progress">
    <span class="progress-count">0/X</span>
    <span class="progress-border"></span>
    <span class="progress-bar"></span>
  </div>
  
  <div class="checklist-wrapper">
    
    <section *ngFor="let step of steps | async" class="checklist">

      <h2 class="checklist-title">{{step.title}}</h2>

      <span class="checklist-title-border"></span>
      <span class="checklist-percentage-border"></span>

      <div *ngIf="!(steps | async)" class="inline-loader"></div>
      <div *ngIf="(tasks | async)?.length ===0" class="blankslate"> No task add one </div>
      <ul *ngIf="(tasks | async)?.length>0" class="checklist-container">
        
        <li *ngFor="let task of tasks | async">

          <div *ngIf="task.stepKey===step.$key" class="checklist-item">
            <label class="clickable" (click)="task.isDone=!task.isDone; taskStatus(task.$key,task.isDone)">
              <input type="checkbox" class="form-checkbox hidden" [checked]=task.isDone>
              <span class="checkbox" [class.task-done] = "task.isDone"></span>
            </label>
          
            <input type="text" #taskTitle class="form-control input-as-text task-input checklist-item-title" [class.task-done] = "task.isDone" 
              value="{{task.title}}" (keyup.enter)=taskEdit(task.$key,taskTitle.value)>

            <span class="task-input-info el-sm"> Press Enter to Save </span>
          </div>

        </li>
        
      </ul>
      <div class="form-group p-y-md">
        <label class="p-y" style="display: block;">Add an Task</label>
        <input type="text" class="form-control input-sm input-block" #taskAddTitle (keyup.enter)="addTaskFromList(taskAddTitle.value, step.$key); taskAddTitle.value = '';">
        <span class="el-sm text-grey"> Press Enter to add </span>
      </div>
      
    </section>
    
  </div>

</div>

<div *ngIf="(steps | async)?.length===0" class="blankslate">Nothing Added</div>