<app-menu></app-menu>
<div class="topbar-top blue">
        <div class="topbar-top-title">
            <label for="menu-toggle" class="clickable">
                <svg class="icon icon-menu">
                    <use xlink:href="assets/svg/symbol-defs.svg#icon-menu"></use>
                </svg>
            </label>
            <span>Week</span>
            <span>Tweak</span>
        </div>
        <div class="settings">
            <a href="#" title="Settings">
                <svg class="icon icon-settings">
                    <use xlink:href="assets/svg/symbol-defs.svg#icon-settings"></use>
                </svg>
            </a>
            <a href="#" title="Notifications">
                <svg class="icon icon-week" viewBox="0 0 32 32">
                    <use xlink:href="assets/svg/symbol-defs.svg#icon-bell"></use>
                </svg>
                <span class="badge">3</span>
            </a>           
            
        </div>
    </div>
<div class="rty"> Welcome To Week Tweak </div>