<input type="checkbox" id="menu-expander" name="ert">
<div class="main-menu-container">

    <div class="logo-area">
        <div class="logo"><!--<img src="img/logo-white.png">--></div>
        <span> Week Tweak </span>
    </div>

    <ul class="sidebar-icon-list">
        <li class="sidebar-icon">
            <img src="assets/svg/home.svg">
            <span>Week</span>
        </li>
        <li class="sidebar-icon" routerLink="/projects" routerLinkActive="menu-active" title="Projects">
            <img src="assets/svg/cocktail.svg">
            <span>Projects</span>
        </li>
        <li class="sidebar-icon" routerLink="/project/:id" routerLinkActive="menu-active" title="Life">
            <img src="assets/svg/grid.svg">
            <span>Life</span>
        </li>
        <li class="sidebar-icon" routerLink="/contact" routerLinkActive="menu-active" title="Life">
            <img src="assets/svg/heart.svg">
            <span>Projects</span>
        </li>
        <li class="sidebar-icon" routerLink="steps" routerLinkActive="menu-active" title="Life">
            <img src="assets/svg/diamond.svg">
            <span>Projects</span>
        </li>
        <li class="sidebar-icon">
            <img src="assets/svg/clock.svg">
            <span>Analysis</span>
        </li>
        <li class="sidebar-icon">
            <img src="assets/svg/grid.svg">
            <span>Projects</span>
        </li>
    </ul>

    <div class="sidebar-wt">
        <label for="menu-expander"><img src="assets/svg/angle-right.svg"></label>
    </div>
    <div class="top-icon">
        <div class="user-pic"></div>
        <!--<div class="user-name">Jimmy</div>
        <label for="menu-expander"><img src="svg/menu.svg">rt</label>-->
    </div>

</div>