<div class="container">
	<label for="step-toggle" class="clickable step-toggle">Toggle</label>
	<input type="checkbox" name="step-toggle" id="step-toggle" class="hidden">
	<div class="left-container">
		<h4 style="text-align: center">Action Steps</h4>

		<div class="steps-container">

			<div *ngFor     = " let step of steps; let i=index " 
				  class     = " action-step clickable" 
				  [class.action-step-active] = " i===selectedIndex"  
				  (click)   = " setStepId(step.$key, i)">
				<div class="step-progress">
					<div class="wer" [style.height]="step.blah + '%'"></div>
				</div>
				<div class="step-description">
					<div>{{step.title}}{{step.key}}</div>
					<div class="step-more">{{step.dateAdded | date:'medium'}}</div>
				</div>
				
			</div>
			
		</div>

		<div style="border: 2px solid green">
			<h6>Add an action step</h6>
			<input type="text" name="" >
			<button class="btn btn-sm btn-blue">+</button>
		</div>
	</div>
	<div class="right-container">
		<h4></h4>
		<div class="task-container">
			<div *ngIf="tasks.length===0">Add Tasks</div>
			<div *ngFor="let task of tasks" class="task">
				<div class="task-details">
					<input type="checkbox" name="task-checkbox" id="{{task.$key}}" class="hidden" [checked]=task.isDone>
					<label class="task-title" (click)="task.isDone=!task.isDone; taskStatus(task.$key,task.isDone)">{{task.title}}</label>
				</div>
				<div class="task-info">Task Completed: {{task.isDone}}</div>
			</div>
			<p *ngIf="tasks.length > 0">Total Tasks: {{tasks.length}} Completed: {{completedTasksLength}} Percentage: {{percentageOfStepDone}}</p>
			<div class="task-add">
				<h6>Add an Task / To-do</h6>
				<input type="text" name="" [(ngModel)]="title">
				<button class="btn btn-sm btn-blue" (click)="addTask(title); title = '';">Add</button>
			</div>        		
		</div>
	</div>
</div>
