.container {
	display: flex;
	position: relative;
	height: 100%;
}

.left-container {
	width: 18.18em;
	background-color: #19164e;
	color: white;
	padding: 0.44em;
}

.action-step {
	display: flex;
	color: white;
	border: 2px solid hsl(168,58%,30%);
	position: relative;
	margin: 0.35em 0em;
	height: 6.39em;
}

.action-step:hover {
	opacity: 0.8;
}
.action-step-active:hover {
	opacity: 1;
}
.action-step-active:before {
	position: absolute;
	content: '';
	left: 100%;
	border-top: 1em solid transparent;
	border-bottom: 1em solid transparent;
	border-left: 1em solid hsl(168,58%,30%);
	top: 50%;
	transform: translateY(-50%);
}

.step-progress {
	width: 8%;
	background-color: rgba(32, 121, 103, 0.31);
	border-right: 2px solid hsl(168,58%,30%);
	position: relative;
}

.wer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10%;
	background-color: #207967;
}

.step-description {
	padding: 0.25em;
	padding-left: 1em;
	font-size: 0.89em;
	width: 92%;
	display: flex;
	flex-direction: column;
}

.step-description div:first-child {
	flex-grow: 1;
}

.right-container {
	margin: 0 auto;
}

.task-container {
	width: 32.46em;
	margin: 0 auto;
	margin-top: 4.02em;
	margin-bottom: 2em;
}

.task {
	width: 100%;
	background-color: white;
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 0.71em;
	border-bottom:1px solid #b5b5b5;
}

.task-details {
	flex-grow: 1;
	display: flex;
	align-items: center;
}

.task-title {
	position: relative;
	transition: all 0.3s linear;
	cursor: pointer;
	margin-left: 2em;
}

.task-title:before {
	content: '';
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background-color: red;
	left: -2em;
}

.task-done {
	color: #b5b5b5;
	text-decoration: line-through;
}

.task-done:before {
	content: '';
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background-color: #b5b5b5;
	left: -2em;
}

.task-info {
	padding: 0.5em 0;
	font-size: 0.89em;
}

.task-add {
	box-shadow: 4px 4px 20px 0px hsla(207,6%,32%, 0.28);
	background-color: white;
	margin-bottom: 2em;
	display: flex;
	flex-direction: column;
}

@media (max-width: 60em) {
	.left-container {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		display: none;
	}
}


input[id="step-toggle"]:checked + .left-container {
	display: block;
	opacity: 1;
}

.step-toggle {
	position: absolute;
	right: 0;
}

@media (min-width: 60em) {
	.step-toggle {
		display: none;
	}
}

@media (max-width: 42em) {
	.task-container {
		width: 100%;
	}

	.right-container {
		width: 100%;
		padding: 0 2em;
	}
}