<div class="container">

    <div class="start-container">
        <div class="start-nav">
            <ul>
                <li class="start-nav-item">Home</li>
                <li class="start-nav-item">Blog</li>
                <li class="start-nav-item">App</li>
            </ul>
            <ul *ngIf="!loggedin">
                <li class="start-nav-item"><a routerLink= "/login" > Login </a></li>
                <li class="start-nav-item">SignUp</li>
            </ul>
             <ul *ngIf="loggedin">
                <li class="start-nav-item"><a routerLink= "/app" > Welcome {{userName}} Go To Week Tweak APP </a>   </li>
                
            </ul>
            
        </div>

    </div>

    

</div>