.start-container {
	width: 100%;
}

.start-nav {
	background-color: #fcf8e3;
	display: flex;
	justify-content: space-between;
	padding: 1em 2em; 
}

.start-nav ul {
	display: flex;
	border: 0px dashed black;
	padding: 0;
}

.start-nav-item {
	padding: 0.25em 1em;
	border: 1px solid white;
	margin-right: 1em;
}

.start-nav-item:last-child {
	margin-right: 0em;
}

.start-nav-item:hover {
	background-color: #f06;
	color: white;
	cursor: pointer;
}