.gh {
  background-color: chocolate;
  height: 2.84em;
  line-height: 2.84em;
  padding: 0 2em;
}
.login-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #eee;
}

@media (max-width: 30em){
  .login-container {
    justify-content: center;
  }
}

.form-container {
  background:white;
  padding:2.84em;
  width: 25.74em;
}

.wt-title {
  margin: 0.5em 0;
}

.welcome-msg {
  margin: 2.25em 0;
}

.form-container .btn {
  margin-left: 0;
  margin-right: 0;
}

#lock {
  border: 1px solid black;
  width: 5em;
  margin: 1.5em auto 4em auto;
  display:block;
}

.btn-block {
  display: block;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
}

.login-error {
  position: absolute;
  top: 5em;
  left: 5em;
  color: white;
}

.login-error:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}