<div class="gh text-white">Week Tweak</div>
<div class="login-container">
	<div class="form-container">
		<h1 class="wt-title">Week Tweak</h1>
		<div class="welcome-msg">
			<h2>Welcome back!</h2>
			<h3 style="font-weight: normal; color: darkgrey; letter-spacing: 2px;">Sign in to continue to Week Tweak.</h3>
		</div>
		<span class="error hidden" *ngIf="error">{{ error }}</span>
		<button (click)="loginGoogle()" class="btn btn-red btn-block" id="google">Login With Google</button>
		<br>
		<button (click)="loginFb()" class="btn btn-blue btn-block" id="fb">Login With Facebook</button><br>
		<button routerLink="/login-email" class="btn btn-green btn-block btn-off" id="email">Login With Email</button><br><br>
		<a routerLink="/signup" routerLinkActive="active" class="alc btn-off">No account? <strong>Create one here</strong></a>
	</div>
</div>

<div  class="error login-error">
	{{error}}
</div>


<div class="error">
    <input  class="form-control input-block" #ert (keyup.enter)=hello(ert.value)>
	<p class="p-y-md p-x">{{foo}}</p>
</div>


