<div class="container">

  <div class="login-container">
    
    <div class="login-form">

      <h1> Week Tweak </h1>        
      <h2> Connect With favorite service </h2>
      
      <button (click)="loginGoogle()" class="btn btn-white btn-google">
        <img src="assets/img/google.jpg">
        <strong>Connect with google</strong>
      </button>

      <button class="btn btn-twiiter">
        <img src="assets/img/twitter.jpg">
        <strong> Connect with twitter</strong>
      </button>

      <button class="btn btn-github">
        <img src="assets/img/github.jpg">
        <strong> Connect with github</strong>
      </button>

      <button (click)="loginFb()" class="btn btn-facebook">
        <img src="assets/img/facebook.jpg">
        <strong> Connect with facebook</strong>
      </button>
      
      <div class="divider"> <span>OR </span> </div>
      
      <button class="foo btn btn-white btn-block"> Sign In with Email </button>
      {{error}}
    </div>

  </div>

</div>