.content-topbar {
	width: 100%;
}

.topbar-top {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	color: #ffffff;
	padding: 0 1em;
	height: 2.84em;
}

@media (max-width: 27em) {
	.topbar-top {
		position: fixed;
		top: 0;
		width: 100%;
		height: 4em;
		z-index: 101;
	}
}

.topbar-top-title {
	display: flex;
	align-items: center;
	font-family: 'Roboto Mono', monospace;
}

@media (min-width: 27em){
	.topbar-top-title label{
		display: none;
	}
}

.topbar-top-title span {
	margin-right: 0.5em;
}

.topbar-top-title span:first-child {
	font-size: 0.8em;
	color: hsl(207,6%,60%);
}

.settings {
	font-size: 0.71em;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;
}

.settings a {
	display: flex;
	align-items: center;
	margin-left: 0.8em;
	position: relative;
}

span.badge {
    position: absolute;
	width: 1.59em;
	height: 1.59em;
	line-height: 1.59em;
	text-align: center;
    right: -0.63em;
    top: -0.8em;
    background-color: hsl(168,58%,30%);
    border-radius: 50%;
    color: white;
}

.settings a img {
	transition: all .2s linear;
}

.settings a img:hover{
	transform: rotateZ(10deg);
	transform-origin: 1em;
}

.more {
	font-size: 2em;
	margin-left: 0.5em;
	cursor: pointer;
	position: relative;
	margin-bottom: 0.5em;
}

.more-container {
	background-color: #fff;
	
	z-index: 100;

	position: absolute;
	width: 12em;
	
	top: 4.02em;
	right: 2.25em;
	opacity: 1;
	transition: all 0.5s ease-in-out;

}

.hidden-panel {
	position: absolute;
    width: 8em;
    height: 0;
	top: 3em;
	right: 0;
	opacity: 0;
	transition: all 0.5s ease-in-out;
  }

.more-container:before {
	content: '';
	position: absolute;
	right: 5px;
	top: -12px;
	height: 0px;
    width: 0px;
	border-bottom: 1em solid #fff;
	border-left: 0.8em solid transparent;
	border-right: 0.8em solid transparent;
}

input[id="more-toggle"]:active + .more-container, input[id="more-toggle"]:focus + .more-container {
	display: block;
}


.more-items {
	width: 100%;
}

.more-item {
	width: 100%;
	height: 3em;
	border-bottom: 1px solid #eee;
	line-height: 3em;
	padding: 0em 1em;
	background-color: white;
	cursor: pointer;
}

.more-item:hover {
	color: #00a8e8;
}




.tab-bar-container {
	letter-spacing: 1px;
	padding: 1em;
	width: 100%;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	
}

@media (max-width: 27em){
	.tab-bar-container {
		margin-top: 4em;
		letter-spacing: 0px;
	}
}

.tabs-title-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	
}

.tab-bar-icon-container {
	display: flex;
	align-items: center;
}

.project-tab {
	margin: 0 0; /* offset buttons margins */
	margin-right: 2.5em;
	background: transparent;
	color: hsl(207,6%,20%);
	/*color: #fff;*/
	font-size: 0.9em;
	cursor: pointer;
}

.project-tab:hover {
	color: #000;
}

.project-tab-active,.project-tab-active:hover {
	color: #333;
	font-weight: bold;
}


/* GHJ */

