.app-topbar {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	color: #ffffff;
	padding: 0 1em;
	height: 2.84em;
}

@media (max-width: 27em) {
	.app-topbar {
		position: fixed;
		top: 0;
		width: 100%;
		height: 4em;
		z-index: 99;
	}
}

.topbar-top-title {
	display: flex;
	align-items: center;
	font-family: 'Roboto Mono', monospace;
}

.topbar-top-title span {
	margin-right: 0.5em;
}

.settings {
	font-size: 0.71em;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;
}

.settings a {
	display: flex;
	align-items: center;
	margin-left: 0.8em;
	position: relative;
}

span.badge {
    position: absolute;
	width: 1.59em;
	height: 1.59em;
	line-height: 1.59em;
	text-align: center;
    right: -0.63em;
    top: -0.8em;
    background-color: hsl(168,58%,30%);
    border-radius: 50%;
    color: white;
}

.settings a img {
	transition: all .2s linear;
}

.settings a img:hover{
	transform: rotateZ(10deg);
	transform-origin: 1em;
}

.more-items {
	width: 100%;
	font-size: 1.42em;
}

.more-item {
	width: 100%;
	height: 2em;
	border-bottom: 1px solid #eee;
	line-height: 2em;
	padding: 0em 1em;
	background-color: white;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.85);
}

.more-item:hover {
	color: #00a8e8;
}

/* TAB BAR CONTAINER */

.tab-bar-container {
	letter-spacing: 1px;
	padding-top: 0.44em;
	width: 100%;
	border-bottom: 1px solid #eaeaea;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: white;	
	
}

@media (max-width: 27em){
	.tab-bar-container {
		margin-top: 4em;
		letter-spacing: 0px;
	}
}

.tabs-title-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.tab-bar-icon-container {
	display: flex;
	align-items: center;
}

.project-tab {
	margin: 0 1em;
	background: transparent;
	color: hsl(207,6%,20%);
	font-size: 0.89em;
	cursor: pointer;
	padding: 0.44em 0;
}

.project-tab:hover {
	color: #000;
}

.project-tab-active,.project-tab-active:hover {
	color: #333;
	font-weight: bold;
	border-bottom: 2px solid #00a5e6;
}

