<div class="row">
  <div class="vmenu white2">
    <div class="title"> Basic Settings </div>
    <ul class="vmenu-list">
      <li class="vmenu-list-item">Information</li>
      <li class="vmenu-list-item" routerLink="./account" routerLinkActive="vmenu-list-item--active">Account</li>
      <li class="vmenu-list-item" routerLink="./profile" routerLinkActive="vmenu-list-item--active">Profile</li>
      <li class="vmenu-list-item">Notifications</li>
      <li class="vmenu-list-item">Social</li>
    </ul>
  </div>
  <div class="settings-box">
    <router-outlet></router-outlet>
  </div>
</div>

