<input type="checkbox" name="modal-toggle" id="modal-toggle" [(ngModel)]="modalState">
<div class="modal-wrapper">
    <!--<div class="modal-container">-->
      <div class="add-project-wrapper">
        <div class="add-project-container">

          <div class="add-project-topbar">
            <div class="title">Create New Project</div>
              <label for="modal-toggle" class="modal-toggle" 
                    title="Close">
              <img src="assets/svg/close.svg">
            </label>
          </div>

          <div class="add-project-middle">

            <div class="add-project-content">
              <div class="add-project-content-title">Project Title</div>
              <input type="text" id="project-title" placeholder="Learn painting" [(ngModel)]="title">
              <div class="project-title-help">
                <div>
                  <strong>Name projects appropriately</strong>
                  <p style="font-size: 80%;"><em>After naming your projects. choose a category that will help you organize your projects.</em></p>
                </div>
                <div>
                  <img src="assets/img/messi.jpg" style="width: 6.5em">
                </div>
              </div>
            </div>
            <div class="add-project-content">
              <div class="add-project-content-title">Select a project category</div>

              <div class="project-category-toggle">
                <input id="base" type="radio" name="project-category" 
                        [(ngModel)]= "category" value="base">
                <label for="base" >Base</label>
                
                <input id="personal" type="radio" name="project-category"
                        [(ngModel)]= "category" value="personal">
                <label for="personal">Personal</label>
                
                <input id="pro" type="radio" name="project-category"
                        [(ngModel)]= "category" value="pro">
                <label for="pro" >Pro</label>
                
                <input id="social" type="radio" name="project-category"
                        [(ngModel)]= "category" value="social">
                <label for="social">Social</label>
        
              </div>
            </div>
            <div class="add-project-content">
              <div class="add-project-content-title">Summary</div>
              <textarea rows="3" cols="42" placeholder="Learn oil painting this summer" class="add-project-description" [(ngModel)]="summary"></textarea>
            </div>
          </div>

          <div class="add-project-bottom">
                          
            <button class="btn btn-sm" (click)=reset(title,summary,category)>Cancel</button>
            <button class="btn btn-blue btn-sm" (click)="addProject(title, summary, category); title = ''; category = ''; summary = '' ">Create Project</button>
          </div>
        </div>
      
    </div>
</div>