@charset "UTF-8";

@import 'https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Mono';

/* Reset Styles */

* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0; 
}

address, caption, cite, code, dfn, em,
h1, h2, h3, h4, h5, h6, strong, th, var {
  font-weight: normal;
  font-style: normal; 
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1.0em; 
}

ul, li {
  list-style: none;
}

a, ins {
  text-decoration: none; 
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img, abbr {
  border: 0; 
}

caption, th {
  text-align: left; 
}

blockquote, q {
  quotes: none; 
}

blockquote:before, 
blockquote:after,
q:before, q:after {
  content: '';
  content: none; 
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #4D5256;
  background-color: rgba(71,71,71,0.21);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; 
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.2; 
}

h1 {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 0.35rem;
  margin-bottom: 0.35rem;
  text-transform: uppercase; 
}

h2 {
  font-size: 1.79rem;
  font-weight: 300;
  margin-top: 0.31rem;
  margin-bottom: 0.31rem; 
}

h3 {
  font-size: 1.59rem;
  font-weight: 800;
  margin-top: 0.28rem;
  margin-bottom: 0.28rem;
}

h4 {
  font-size: 1.42rem;
  font-weight: 800;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; 
}

h5 {
  font-size: 1.26rem;
  font-weight: 700;
  margin-top: 0.89em;
  margin-bottom: 0.89em; 
}

h6 {
  font-size: 1.12em;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 1em; 
}

p {
  margin-top: 1em;
  margin-bottom: 1.12em; 
}

strong {
  font-weight: 700;
}

em {
  font-style: italic; 
}

small {
  font-size: 0.89rem;
}

a {
  text-decoration: none;
  cursor: pointer; 
}

/* Buttons */

button, .btn {
  overflow: hidden;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  text-decoration: none !important;
  text-align: center;
  white-space: nowrap;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: 'Roboto Mono', monospace;
  border: none;
  border-radius: 0.25em;
  font-size: 0.89em;
  font-weight: 400;
  line-height: 1;
  margin: 0.5em;
  padding: 0.8em 1.12em;
  color: #333;
  background: #eaeaea;
  transition: all 60ms ease-in-out; 
}

.btn:hover, button:hover {
  transition: all 60ms ease-in-out;
  opacity: 0.85; 
}

.btn:active, button:active {
  transition: all 60ms ease-in-out;
  transform: scale(0.97);
  opacity: 0.75; 
}

.btn:focus, button:focus {
  outline: none; 
}

.btn:disabled, button:disabled {
  opacity: 0.8;
  cursor: not-allowed; 
}

.btn-outline {
  border: 2px solid #00a4e6;
  color: #333;
  background: #fff;
  transition: all 600ms ease-in-out; 
}

.btn-outline:hover {
  color: #fff;
  background: #00a4e6;
  transition: all 600ms ease-in-out; 
}

.btn-sm {
  font-size: 0.80em;
  margin: 0.44em;
  padding: 0.71em 1em;
}

.btn-md {
  font-size: 1.12em;
  margin: 0.56em;
  padding: 0.89em 1.26em;
}

.btn-lg {
  font-size: 1.26em;
  margin: 0.63em;
  padding: 1.2em 1.42em; 
}

.btn-circle {
  border-radius: 50%;
  padding: 1em;
}

.btn-icon {
  width: 3em;
  height: 3em;
  border-radius: 100%;
  display: inline-block;
  padding: 0.5em;
  display: block; 
}

.btn-off, .btn-off:focus, .btn-off:active, .btn-off:hover {
  opacity: 0.8;
  cursor: not-allowed;
  /*color: #4d5256;
  background-color: #fff;
  transform: scale(1);*/
}

.btn-blue {
  color: #fff;
  background: #00a4e6; 
}

.btn-green {
  color: #fff;
  background: #2ca58d; 
}

.btn-yellow {
  color: #333;
  background: #edff24;
}

.btn-red {
  color: #fff;
  background: #ef253c;
}

.btn-black {
  background: #4d5256;
  color: #fff;
}

.btn-clear {
  color: #333;
  background: #fff; 
}

/* Colors */

/* ---  Primary --- */
.blue   { background-color: hsla(197,100%,45%,1); } /* Primary Color */
.green  { background-color: hsla(168,58%,41%,1);  } /* Secondary Coloor*/
.yellow { background-color: hsla(65,100%,57%,1);  } /* Extra Color*/
.red    { background-color: hsla(353,86%,54%,1);  } /* More Extra Color*/

/* ---  Shades of Primary --- */
.blue-dark  { background-color: hsla(197, 100%, 30%, 1);   }
.blue-light { background-color: hsla(197, 100%, 50%, 0.8); }

/* ---  Shades of Secondary --- */

/* ---- Grey and Whites  ----*/
.blackish{ background-color: #333; }
.blackish2{ background-color: #4B4F19; } /* nearly black */
.dark-grey{ background-color: hsla(207, 6%, 32%,1); } /* Dark Grey -- black for backgrounds */
.grey{ background-color: #ababab; }
.light-grey { background-color: #eaeaea; }
.white {background-color: #fff; }

.hidden {
  position: absolute;
  z-index: -999999;
  width: 0;
  height: 0;
  min-height: 0;
  min-height: 0;
  overflow: hidden;
  opacity: 0;
}

svg, svg.icon {
  width: 2em;
  height: 2em;
  fill: #B5B5B5;
}

svg:hover, svg.icon:hover {
  fill: #4D5256;
}

.text-white {
  color: white;
}

.text-blackish {
  color: #4B4F19;
}

.text-grey {
  color: hsla(207, 6%, 32%,1);
}

.clickable {
	cursor: pointer;
}

/* Content Container */

.content-container {
	background-color: #eee;
	margin-top: 3.19em;
}

@media (min-width: 28.91em) {
	.content-container {
		margin-left: 4.52em; /*if icon-sidebar */
		margin-top: 0em;
		height: 100vh;
		overflow: auto; /* work if height is 100vh */
	}
}

.root-loader {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #4d5256;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.root-loader span{
  position: relative;
  margin-bottom: 2.53em;
  border-radius: 50%;
  border: 0.31em solid #4d5256;
  box-shadow: 4px 0 4px #222425, -4px 0 4px #222425, 0 4px 4px #222425, 0 -4px 4px #222425;
  background-color: #4d5256;
}

.root-loader span:before {
  content: '';
  display: block;
  width: 6.39em;
  height: 6.39em;
  border-radius: 50%;
  border: 0.31em solid #f06;
  border-top: 0.31em solid transparent;
  border-bottom: 0.31em solid transparent;
  animation: hill 1s infinite linear;
}

.root-loader span:after {
  content: '';
  position: absolute;
  display: block;
  width: 5.07em;
  height: 5.07em;
  border-radius: 50%;
  border: 0.31em solid #eeff22;
  border-top: 0.31em solid transparent;
  border-bottom: 0.31em solid transparent;
  top: 0.66em;
  left: 0.66em;
  animation: hill reverse 0.7s infinite linear
}



@keyframes hill {
  0% { transform: rotate(0deg)}
  20% { transform: rotate(180deg)}
  40% { transform: rotate(90deg)}
  100% { transform: rotate(360deg)}
}

/* DROPDOWN STYLES */

.dropdown-container {
  position: relative;
  display: inline-block;    
}

.dropdown-container span {
	display: flex;
  margin-left: 0.7em;
	align-items: center;
}

.dropdown-content {
  display: none;
  position:absolute; 
  z-index: 90;
  transition: all 0.5s linear;
}

.dropdown-content.dropdown-active {
    display: block;
    right: 0;
    top: 0;
    box-shadow: 3px 3px 6px 0px #B5B5B5;
    animation: dropdown-active 0.31s linear;
}

@keyframes dropdown-active {
  0% {
    opacity:0;
  }
  100% {
    opacity: 1;
  }
}