<div class="inline-loader" *ngIf="!(baseProjects | async)"></div>

<div class="card-group-container" *ngIf="(baseProjects | async)?.length>0">

  <div class="card-container" *ngFor="let i=index; let k of baseProjects | async">
  
    <div class="fbox-sb">
        <div class="title">{{k.title}} </div>  
        <div class="dropdown-container">
            <span class="icon-container clickable" (click)="setSelected(i)">
              <svg class="icon"><use xlink:href="assets/svg/icons.svg#icon-v-dots"></use> </svg>
            </span>
            <div class="dropdown-content" [class.dropdown-active]="selected===i">
              <div class="card-header" style="padding: 0 0.35em;">
                <div class="title-sm"> Project Actions </div>
                <span class="icon-container icon-container-sm clickable" (click)="selected=null;">
                  <svg class="icon"><use xlink:href="assets/svg/icons.svg#icon-cross"></use> </svg>
                </span>
              </div>
              <ul class="more-items">
                  <li class="more-item">Settings</li>
                  <li class="more-item">Progress</li>
              </ul>
              <hr>
              <ul class="more-items">
                  <li class="more-item">Mark As Done</li>
                  <li class="more-item">Edit</li>
                  <li class="more-item delete" (click)=removeProject(k.$key)>Delete</li>
              </ul>   
            </div>
        </div>
    </div>

    <div class="description">{{k.summary}}</div>

    <div class="activity"> {{k.dateAdded | date:'longDate'}} </div>

    <div class="fbox-sa">

        <div class="card-info">
            <span class="card-info-detail text-blue">{{k.steps}}</span>
            <span class="card-info-title">Steps</span>
        </div>
        <div class="card-info">
            <span class="card-info-detail text-blue">{{k.tasks}}</span>
            <span class="card-info-title">Tasks</span>
        </div>
        <div class="card-info">
            <span class="card-info-detail text-blue">{{k.progress}}%</span>
            <span class="card-info-title">Progress</span>
        </div>    

    </div>

    <!--<div class="project-progress">
        <span>12 / 24 Tasks Done</span>
    </div>-->

    <div class="project-actions">
        <span class="project-active">Active</span>
        <button type="button" class="btn btn-sm btn-outline" routerLink="../../project/{{k.$key}}">View</button>
    </div>

  </div>

</div>

<div *ngIf="(baseProjects | async)?.length===0" class="blankslate no-project-blankslate">
    
    <img class="no-project-img" src="assets/img/projects.png">
    
    <div class="title text-blue m-y-md"> Welcome to Base Projects </div>
    <p class=""> Projects here are automatically added, although you can add tasks and steps </p>
</div>