.card-group-container {
	display: flex;
	flex-flow: row wrap;
  flex: 1;
	justify-content: flex-start;
  align-items: flex-start;
	margin: 0 auto;
  padding: 1em 0;
}

@media (min-width: 321px) {
  .card-group-container {
    width: 321px;
  }
}

@media (min-width: 767px) {
  .card-group-container {
    min-width: 643px;
  }
}

@media (min-width: 1191px) {
  .card-group-container {
    width: 1028px;
  }
}

.card-container {
  box-shadow: 4px 4px 6px #dadada;
  width: 20.41em;
  background-color: #FFF;
  border-radius: 0.22em;
  border: 1px solid #dadada;
  padding: 1em 1em 1.26em;
  margin-top: 1.79em;
  margin-left: .5em;
  margin-right: .5em;
}

.description {
  font-size: 0.89em;
  height: 7.70em;
  margin: 1em 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.activity {
  font-size: 0.8em;
  font-style: italic;
  color: #2ca58d;
  margin-top: .8em;
}

.project-progress {
  width: 100%;
  position: relative;
}

.project-progress:before {
  content: '';
  position: absolute;
  top:0px;
  left:0;
  width: 100%;
  height: 0.31em;
  background-color: #b5b5b5;
}

.project-progress:after {
  content: '';
  position: absolute;
  top:0px;
  left:0;
  width: 78%;
  height: 0.31em;
  background-color: #2ca58d;
}

.project-progress span {
  display: block;
  font-weight: bold;
  font-size: 0.8em;
  padding-top:0.44em;
}

.project-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0 0 0;
}

.project-active {
  display: block;
  color: #72d26b;
  position: relative;
  margin-left: 1.42em;
  font-size: 1em;
}

.project-active:before {
  content: '';
  position: absolute;
  top: 0.25em;
  left: 0;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin-left: -1.42em;
  background: #72d26b;
}

.delete {
  color: #ef233c;
}

.no-project-blankslate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border: none;
  box-shadow: none;
}

.no-project-img{
  max-width: 20em;
  max-height: 20em;
  background-color: whitesmoke;
  mix-blend-mode: multiply;
}