<div class="content-topbar">
    <div class="topbar-top red">
        <div class="topbar-top-title">
            <label for="menu-toggle" class="clickable">
                <svg class="icon icon-menu">
                    <use xlink:href="assets/svg/symbol-defs.svg#icon-menu"></use>
                </svg>
            </label>
            <span><a routerLink="../../projects/{{project.info.category}}">{{project.info.category | capitalize}}</a></span>
            <span>{{project.info.title | capitalize}}</span>
        </div>
        <div class="settings">
            <a href="#" title="Settings">
                <svg class="icon icon-settings">
                    <use xlink:href="assets/svg/symbol-defs.svg#icon-settings"></use>
                </svg>
            </a>
            <a href="#" title="Notifications">
                <svg class="icon icon-week" viewBox="0 0 32 32">
                    <use xlink:href="assets/svg/symbol-defs.svg#icon-bell"></use>
                </svg>
                <span class="badge">3</span>
            </a>           
            
            <label for="more-toggle" title="More" class="more">&#x22EE;</label>
            <!--<input id="more-toggle" type="text">
            <div class="more-container">MORE</div>-->

        </div>
    </div>
    <div class="tab-bar-container">
        <div class="tabs-title-container">
            <a routerLink="./" routerLinkActive="project-tab-active" [routerLinkActiveOptions] ="{exact: true}" class="project-tab" title="Project OVerview">Overview</a>
            <a routerLink="./steps" routerLinkActive="project-tab-active" class="project-tab" title="Action Steps">Action Steps</a>
            <label for="social-tab" class="project-tab">Files</label>
            <label for="pro-tab" class="project-tab">More</label>
        </div>
        <div class="tab-bar-icon-container">
            <a routerLink="./add-step" routerLinkActive="project-tab-active" class="btn btn-blue" title="Add Step">+ New Step</a>
            
        </div>
    </div>
</div>
<router-outlet></router-outlet>