<div class="content-topbar">
    <div class="topbar-top red">
        <div class="topbar-top-title">
            <span><a routerLink="../../projects/{{project.info.category}}" class="text-white">{{project.info.category | capitalize}} |</a></span>
            <span>{{project.info.title | capitalize}}</span>
        </div>
        <div class="settings">
            <a href="#" title="Settings">
                <svg class="icon icon-settings">
                    <use xlink:href="assets/svg/symbol-defs.svg#icon-settings"></use>
                </svg>
            </a>
            <a href="#" title="Notifications">
                <svg class="icon icon-week" viewBox="0 0 32 32">
                    <use xlink:href="assets/svg/symbol-defs.svg#icon-bell"></use>
                </svg>
                <span class="badge">3</span>
            </a>           
            
            <!--<label for="more-toggle" title="More" class="more">&#x22EE;</label>-->
            <div class="b" (clickOutside)="onClickOutside($event)">
                <span (click)="drop = !drop" class="more">&#x2026;</span>
                <div class="dropdown" [class.dropdown-active]="drop">
                    <ul class="more-items">
                        <li class="more-item">Profile</li>
                        <li class="more-item">Settings</li>
                        <li class="more-item">Log Out</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="tab-bar-container">
        <div class="tabs-title-container">
            <a routerLink="./" routerLinkActive="project-tab-active" [routerLinkActiveOptions] ="{exact: true}" class="project-tab" title="Project OVerview">Overview</a>
            <a routerLink="./steps" routerLinkActive="project-tab-active" class="project-tab" title="Action Steps">Action Steps</a>
            <label for="social-tab" class="project-tab">Files</label>
            <label for="pro-tab" class="project-tab">More</label>
        </div>
    </div>
</div>
<router-outlet></router-outlet>